#mynetwork{
    width: 100%;
    height: 60vh;
    color: #fff;
    background: none;
}

.socialContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-block{
    background: #24262E;
    color: #fff;
    margin-top: 20px;
    border-radius: 10px;
    padding: 25px;
    width: calc(49% - 50px);
}

.social-block h3{
    text-transform: uppercase;
    font-size: 22px;
}

.social-block ul li{
    display: flex;
    width: 100%;
    font-size: 14px;
    padding: 20px 0;
    border-bottom: 1px solid #2C2E35;
}


.social-block ul li:last-child{
    border-bottom: 0px solid #2C2E35;
}

#myModal{
    display: none; 
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background: #24262ef3;
    z-index: 9999 !important;
}

.modalContent{
    display: flex;
    justify-content: center;
    width: 100%;
}

.modal{
    padding: 20px;
    width: calc(480px - 40px);
    background: #2C2E35;
    color: #fff;
    margin-top: 50px;
    border-radius: 10px;
}

.modal h2{
    font-size: 26px;
}

.modalHr{
    width: 100%;
    height: 1px;
    background: #999;
    margin-top: 10px;
}

.modal p{
    margin-top: 10px;
    font-weight: unset;
    font-size: 14px;
}

@media(min-width: 320px) and (max-width: 550px){
    #mynetwork{
        height: 40vh;
    }
    
    .social-block{
        padding: 25px;
        width: calc(100% - 50px);
    }
    
    .modal{
        width: calc(90% - 40px);
    }
}